.portekiz{
	font-size: 12px;
	color: rgb(1, 68, 106);
}

.arkaplan{
    background-color: red;
    text-decoration-color: blue;
}

.slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/portekiz1.jpg);
  }

  .slider .item-second {
    background-image: url(../images/portekiz2.jpg);
  }

  .slider .item-third {
    background-image: url(../images/portekiz3.jpg);
  }

  .slider .item-fourth {
    background-image: url(../images/portekiz4.jpg);
  }

  .slider .item-fifth {
    background-image: url(../images/portekiz5.jpg);
  }
.slider .item-fif {
    background-image: url(../images/portekiz5.jpg);
}
  .btndevam{
  	clear: right;
  }

  .ortala{
  	text-align: center;
  }

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}


.container {
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}